:root{
    --primary-green: rgb(177, 250, 67);
    --secundary-light: rgb(255, 255, 255);
    --terciary-dark: #000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 62.5%;
}

.navbar-brand{
    font-weight: 700;
}

.navbar{
   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.473);
}

.section-proyectos{
    display: grid;
    place-items: center;
    text-align: center;
    background-color: var(--primary-green);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.proyects-container{
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.list-group li{
    list-style-type: none;
    padding: 0.8rem;
}

/* PAGINA LOGIN */
.main-container{
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 100%;
    height: 100vh;
}
.section-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1005;

}
.section-top img {
    width: 80%;
}
.section-bottom{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding:1.5rem;
    background-color: var(--primary-green);
}
.section-bottom label{
    font-weight: bolder;
    font-size: 1.2rem;
}
.section-bottom input{
    padding: 1rem;
    margin: 0.7rem 0;
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--secundary-light);
}

input[type="submit"]{
    background-color: var(--secundary-light);
    color: var(--terciary-dark);
    width: 6rem;
    padding: 0;
}
input[type="submit"]:hover{
    background-color: rgb(34, 34, 34);
    color: var(--secundary-light);
}
@media (min-width: 700px) {
    .main-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .sections {
        height: 100vh;
        justify-content: center;
    }
    .section-bottom{
        justify-content: flex-end;
        padding-bottom: 5rem;
    }
    .section-bottom input{
        letter-spacing: 0.1rem;
        margin: 1rem 0;
    }
  }